<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div class="alert alert-success" role="alert" ng-if="creationSuccess">Привет, ягода {{newBerryId}}!</div>

<form name="berryForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="newBerry.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Цвет</label>
        <input class="form-control" ng-model="newBerry.color" type="text" placeholder="Цвет" required>
    </div>
    <div class="form-group">
        <label>Размер</label>
        <input class="form-control" ng-model="newBerry.size" type="text" placeholder="Размер">
    </div>
    <button type="submit" class="btn btn-default" ng-click="createBerry(newBerry)" ng-disabled="berryForm.$invalid">Добавить</button>
</form>
